<tr>
    <th class="time_slot_day pr-5 align-middle" scope"row" rowspan="2">{{ days[index] }}</th>
    <td>
        <em>Ouverture</em>
    </td>
    <td class="slot-item p-3 text-center alert alert-warning align-middle" colspan="2" rowspan="2">
        Fermé
    </td>
    <td class="slot-item p-3 text-center">-</td>
</tr>

<tr style ="border-bottom: 1px solid #dee2e6">
    <td>
        <em>Fermeture</em>
    </td>
    
</tr>