parameters:
  level: 9
  paths:
    - src
  excludePaths:
    - vendor
    - src/Entity/
    - src/Controller/AutocompleteController.php
    - src/Repository/

  ignoreErrors:
    - '#Cannot access offset#'
    - '#Cannot call method#'

  
