#admin-side-bar .list-group-item {
    border-radius: 0;
}

#admin-side-bar .list-group-item.active{
    border-radius: 0;
    background-color: #5bc0de;
    border-color: #5bc0de;
}

#admin-side-bar a:hover, #admin-side-bar a:visited {
    text-decoration: none;
    color: inherit;
}

#admin-side-bar a:hover {
    background-color: #5bc0de;
}

.container-fluid#back-layout {
    padding-left: 0;
}

#menu-details li, #order-details li, #product-details li {
    list-style: none;
}

#manager-profile-edit .form-check {
    padding: 0;
}