@import 'admin.css';
@import 'booking.css';
@import 'calendar.css';
@import 'cart.css';
@import 'footer.css';
@import 'header.css';
@import 'pagination.css';
@import 'security.css';
@import 'sidebar.css';
@import 'timeSlots.css';

/* Reset css */

body {
    background: #f7f7f7;
}

p {
    margin: 0;
}

.table td, .table th {
    border-top: 0px; 
}

.container, .container-fluid {
    position: relative;
    display: block;
    min-height: 100vh; /* will cover the 100% of viewport */
    padding-bottom: 100px; /* height of your footer */
    overflow: hidden;
    padding-bottom: 4rem;   
}


.search-restaurant {
    margin: auto;
    width: 50%;
}

.form-errors {
    color: red;
}

.form-errors li {
    list-style: none;
}

/* comments here */