
#myc-container {
    width: inherit;
}

#myc-nav-container {
    margin-top: 15px;
    margin-bottom: 15px;
    width: inherit;
}

#myc-current-month-year-container {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: lighter;
    text-align: center;
    text-transform: capitalize;
    vertical-align: top;
    width: 68%;
}

#myc-prev-week-container {
    display: inline-block;
    width: 15%;
}

#myc-next-week-container {
    display: inline-block;
    width: 15%;
}

#myc-prev-week {
   
    border-radius: 0px;
    color: #5bc0de;
    cursor: pointer;
    float: left;
    font-size: 1.6em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
}

#myc-next-week {
    border-radius: 0px;
    color: #5bc0de;
    cursor: pointer;
    float: right;
    font-size: 1.6em;
    font-weight: lighter;
    height: 40px;
    text-align: center;
    width: 40px;
}

#myc-prev-week:hover, #myc-next-week:hover {
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
}

#myc-time-up, #myc-time-down {
    color: #5bc0de;
    cursor: pointer;
}

#myc-time-up:hover, #myc-time-down:hover {
    border: 1px solid #bdbdbd;
    color: #bdbdbd;
}

#myc-week-container {
    border: 1px solid #e0e0e0;
}

#myc-dates-container {
    background-color: #fafafa;
}

.myc-date-header {    
    display: inline-block;
    min-height: 50px;
    padding: 15px 15px 15px 15px;
    vertical-align: top;
}

.myc-date-display {
    text-align: center;
}

.myc-date-header:first-of-type {
    padding-left: 15px;
}

.myc-date-header:last-of-type {
    border-right: none;
}

#myc-available-time-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:5px;
    border-top: 1px solid #e0e0e0;
    width: inherit;
    height: 300px;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#myc-available-time-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#myc-available-time-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.myc-day-time-container {
    /*border-right: 1px solid #e0e0e0;*/
    display: inline-block;
    height: 100%;
    padding: 5px 5px 5px 5px;
    vertical-align: top;
}

.myc-day-time-container:first-of-type {
    padding-left: 5px;
}

.myc-day-time-container:last-of-type {
    border-right: none;
}

.myc-date-header, .myc-day-time-container {
    width: 13.4%;
}

.myc-date-number {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.myc-available-time {
    background-color: #5bc0de;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

.myc-disabled-time {    
    background-color: #5bc0de;
    border-radius: 5px;
    color: #ffffff;
    display: block;
    margin-bottom: 15px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    pointer-events: none;
    opacity: 0.4;
}

.myc-available-time.selected, .myc-available-time:hover {
    background-color: #222;
}

.myc-date-display {
    font-weight: lighter;
}

@media (min-width: 996px) and (max-width: 1200px) {
    .myc-date-header, .myc-day-time-container {
        width: 13.2%;
    }

    .myc-date-header, .myc-date-header:first-of-type {
        padding:0;
    }

    #myc-current-month-year-container {        
        width: 67%;
    }


}

@media (max-width: 996px) {
    #myc-current-month-year-container {        
        width: 67%;
    }

    .myc-date-header, .myc-day-time-container {
        width: 13.3%;
    }
}

@media (min-width: 768px) and (max-width: 996px) {
    #myc-current-month-year-container {        
        width: 67%;
    }
}

@media (max-width: 768px) {
    .myc-date-header, .myc-day-time-container {
        width: 13.2%;
    }
    .myc-date-header {
        padding-left: 0;
        padding-right: 0;
    }
    .myc-date-header:first-of-type {
        padding-left: 0;
    }
    .myc-available-time, .myc-disabled-time {
        font-size: smaller;
    }

    /*.myc-date-header:last-of-type, .myc-day-time-container:last-of-type {
        width: 12%;
    }*/
}

