.login-form {    
    margin: 0 auto;
    position:absolute;
    top: 50%;  
    left: 50%;  
    width: 800px;
    height: 400px;
    margin-top: -200px;
    margin-left: -400px;
}

.login-form .card-body {
    padding: 5rem;
}